# default reviewers by mail for text files

* nadendlathrivenitest@gmail.com saiharikachowdary00@gmail.com @vency5821

#.txt nadendlathriveni12@gmail.com

# default reviewers by mail for htmal files

#.html thriveninadendla12@gmail.com

*.txt nadendlathrivenitest@gmail.com @vency5821

test1/*  nadendlathrivenitest@gmail.com
